<!--Компонент жалобы на профиль пользователя-->

<div class="report-card" *ngIf="(isLoadAuthor$|async)&&(isLoadUser$|async); else lo">
  <div class="report-card-area">
    <div style="width: 16.5%;text-align: center;padding: 20px 0">

      <div style="width: 100px; height: 100px;margin: auto" *ngIf="user.photo!=null;else no_photo" >
        <img style="object-fit: cover;width: 100%;height: 100%;border-radius: 50px" src="data:image/png;base64,{{user.photo}}"/>
      </div>
      <ng-template #no_photo>
        <div style="width: 100px; height: 100px;margin: auto" >
          <img style="object-fit: cover;width: 100%;height: 100%;border-radius: 50px" src="/assets/img/no_photo.png"/>
        </div>
      </ng-template>

      <a class="user-name" [routerLink]="'/users/'+author.id">
        <p class="user-name">{{author.name + " " + author.lastName[0] + "."}}</p>
      </a>
    </div>
    <div style="width: 80%; display: flex; flex-direction: column;justify-content: space-between">
      <div>
        <a [routerLink]="'/users/'+user.id" class="advt-name"><p class="advt-name"><span>Жалоба на пользователя: {{user.name + " "+user.lastName}}</span>
        </p></a>
        <div style="width: 100%">
          <p class="description-report">{{userReport.description}}</p>
        </div>
      </div>
      <div class="record-block-date">
        <div style="width: 100%" >
          <button class="btn" *ngIf="userReport.statusCheck==0;else isArchive" (click)="archived(userReport)">Обработать</button>
          <ng-template #isArchive>
            <button class="btn disabled" >Обработана</button>
          </ng-template>

        </div>
        <p class="date">{{userReport.createDate}}</p>
      </div>
    </div>
  </div>
</div>
<ng-template #lo>
  <app-loading ></app-loading>
</ng-template>



