.modal-contain {
  margin: auto;
  display: flex
}
.modal-window {
  min-height: 385px;
  width: 500px;
  background-color: rgba(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
}
h2 {
  font-family: Roboto-Bold;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: x-large;
}

textarea{
  outline:none;
}

.input-invalid {
  color: red;
  font-family: Roboto-Light
}
.modal-window-block {
  display: flex;
  flex-direction: column;
  align-content: center
}
.contain {
  resize: none;
  width: 484px;
  height: 200px;
  font-family: Roboto-Light;
  font-size: medium;
  padding: 8px;
  background-color: rgba(255, 255, 255);
}
.input-subject{
  width: 484px;
  height: 20px;
  margin-bottom: 20px;
  padding: 8px;
  font-family: Roboto-Light;
  font-size: medium;
  padding: 8px;
  background-color: rgba(255, 255, 255);
  outline:none;
  border: 1px solid gray;
}
.window-close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.btn {
  height: 40px;
  width: 120px;
  background-color: #2EDA73;
  color: white;
  font-family: Roboto-Bold;
  font-size: medium;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  transition: 0.4s;
  cursor: pointer;
}
.btn:hover{
  background-color: #F2F1F1;
  color: #25AF5C;
  transition: 0.4s;
}
.disabled{
  pointer-events: none;
  background-position: 100% 0;
  background-color: #F2F1F1;
  color:#29B525;
  font-weight: bold;
}
.disabled{
  pointer-events: none;
  background-position: 100% 0;
  background-color: #F2F1F1;
  color:#29B525;
  font-weight: bold;
}
