<div class="modal">
  <div class="modal-contain">
    <div class="modal-window" *ngIf="isUploaded==false;else upload" [formGroup]="form" (ngSubmit)="submit()">
      <div class="input-invalid">{{errorText|async}}</div>

      <div class="modal-window-block" >
        <h2>Заполните форму для обратной связи</h2>
      </div>
      <input  class="input-subject" placeholder="Тема обращения" formControlName="subject">
      <div >
        <textarea class="contain" placeholder="В тексте не должно быть оскорблений и мата" formControlName="text"></textarea>
      </div>
      <div *ngIf="load==false; else loading">
        <button class="btn" (click)="submit()">Отправить</button>
      </div>
      <ng-template #loading>
        <button class="btn" [ngClass]="{ disabled: load ==true}">Отправляется</button>
      </ng-template>
    </div>

    <div class="window-close">
      <a (click)="showWriteFeedBack(false)"><img src="../../../../assets/svg/window-close.svg"/></a>
    </div>
    <ng-template #upload>
      <div class="modal-window" style="text-align: center">
        <img src="../../../../assets/gif/succes.gif" style="width: 450px">
        <h2 >Спасибо за обращение!</h2>
      </div>
    </ng-template>
  </div>
</div>
