<!--Отзыв-->

<div class="review-card" *ngIf="user!=null&&advtReview!=null">
  <div class="user-photo-area">
    <img class="user-photo" src="../../../../assets/img/profile.jpg">
  </div>
  <div title="Отзыв" class="review">
    <a (click)="onNavigateToUser(user.id!)" class="name-user">{{user.name}}</a>
    <span class="data-review">{{advtReview.createDate}}</span>
    <div class="rating-mini">
      <span [className]="advtReview.rating>0 ? 'active' : ''"></span>
      <span [className]="advtReview.rating>1 ? 'active' : ''"></span>
      <span [className]="advtReview.rating>2 ? 'active' : ''"></span>
      <span [className]="advtReview.rating>3 ? 'active' : ''"></span>
      <span [className]="advtReview.rating>4 ? 'active' : ''"></span>
    </div>
    <p class="comment">Комментарий</p>
    <span class="data-review">{{advtReview.description}}</span>
  </div>
</div>
