<!--Компонент авторизации пользователя-->

<div class="login">
  <div class="sign-in-card" [formGroup]="form" (ngSubmit)="submit()">
    <h1>Вход</h1>
    <input class="sing-in-input" placeholder="Логин" formControlName="login">
    <input type="password" class="sing-in-input" placeholder="Пароль" formControlName="password">
    <a class="sing-in-password-recovery" [routerLink]="'/account/password_recovery'">Забыли пароль?</a>
    <div style="width: 100%; display: flex; align-content: center; justify-content: start ">
      <a class="glo" (click)="submit()">Войти</a>
      <div class="text-password-recovery" [routerLink]="'/account/register'" >или <span class="sing-in-password-recovery">Зарегистрироваться</span> </div>
    </div>
  </div>
</div>
