.modal {
  position: fixed; /* Stay in place */
  z-index: 5; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.6); /* Black w/ opacity */
  display: flex;
  align-content: center;
  justify-content: center;
}

.modal-window {
  min-height: 410px;
  min-width: 500px;
  background-color: rgba(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  align-content: center;
  justify-content: start;
  flex-direction: column;
}

.modal-contain {
  margin: auto;
  display: flex
}

.window-close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn {
  height: 40px;
  width: 150px;
  background-color: #2EDA73;
  color: white;
  font-family: Roboto-Bold;
  font-size: medium;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: #F2F1F1;
  color: #25AF5C;
  transition: 0.4s;
}

input {
  border-radius: 10px;
  border: 1px solid #2EDA73;
  height: 25px;
  font-size: medium;
  padding: 10px;
  outline: none;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Roboto-Bold;
}

input:focus {
  border: 1px solid #649E42;
  background-color: #F4FEEE;
}

.input-area {
  width: 480px
}

.input-title {
  margin-top: 10px;
  margin-left: 5px;
  font-family: Roboto-Bold;
}

.description {
  border-radius: 10px;
  border: 1px solid #2EDA73;
  height: 100px;
  font-size: medium;
  padding: 10px;
  outline: none;
  width: 100%;
  margin-top: 5px;
  resize: none;
  font-family: Roboto-Light;
}

.photos-advt-area {
  width: 112px;
  height: 112px;
  position: relative;
  margin: 10px 3px 3px 3px;
}

.photos-advt {
  width: 100%;
  height: 100%;
  object-fit: cover;


}

.delete-photo {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  cursor: pointer;
}

.photos-advt-edit {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
}

.input-file {
  position: relative;
  font-family: Roboto-Bold;
  cursor: pointer;
}

.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.error-text{
  color: red;
  font-family: Roboto-Light;
  font-size: medium;
}

.add-photo-area{
  margin-top: 10px;align-content: center;width: 112px;height: 112px
}

.add-photo-content{
  width: 112px;height: 112px;text-align: center
}
