<!-- Footer -->

<div class="footer-card">
  <div class="content-area">
    <div class="footer-content">
      <p class="footer-text">© Электронная доска объявлений. EBoard, 2022</p>
      <p class="footer-text">electronic.board@inbox.ru</p>
      <!--<div class="footer-content">
        <div style=" height: 100%; padding: 8px 0; ">
          <img src="assets/svg/email%20—%20white.svg" style="object-fit: cover; height: calc(100% - 16px)">
        </div>
        <p class="footer-text">electronic.board@inbox.ru</p>
      </div>-->
    </div>
  </div>
</div>
