<div class="email-confirm">

  <ng-container *ngIf="emailIsConfirm|async;else email_confirm">
    <div class="email-confirm-card" [formGroup]="form" (ngSubmit)="emailSendMessage()">
      <h1>Восстановление пароля</h1>

      <div class="text-password-recovery">
        Укажите корректный e-mail адрес, который был привязан к аккаунту
      </div>

      <!--E-mail-->
      <div>
        <input type="text" class="email-confirm-input" placeholder="E-mail*" formControlName="login" (error)="error_login">
        <ng-container *ngTemplateOutlet="error_login"></ng-container>
        <ng-template #error_login let-control>
          <div class="input-invalid"  autocomplete="disabled" *ngIf="form.get('login')?.invalid && form.get('login')?.touched">
            *не соответсвует электронному адресу</div>
        </ng-template>
      </div>

      <!--Имя-->
      <div>
        <input type="text" class="email-confirm-input" formControlName="name" (error)="error_name" placeholder="Имя*" >
        <ng-container *ngTemplateOutlet="error_name"></ng-container>
        <ng-template #error_name>
          <div class="input-invalid"  autocomplete="disabled" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
            *поле заполнено неверно</div>
        </ng-template>
      </div>

      <div style="width: 100%; display: flex; align-content: center; justify-content: start ">
        <a class="glo"  (click)="emailSendMessage()" [ngClass]="{disabled:(form.get('login')?.invalid)||(form.get('name')?.invalid)}">Восстановить</a>
        <div class="register-text" [routerLink]="'/account/register'" >или <span class="register-text-click">Зарегистрироваться</span> </div>
      </div>
    </div>
  </ng-container>

  <!--Смена пароля-->
  <ng-template #password_change>
    <div class="email-confirm-card" [formGroup]="form" (ngSubmit)="confirmEmail()">
      <h1>Придумайте пароль</h1>

      <div class="text-password-recovery">
        К сожалению, мы не храним Ваш пароль, поэтому необходимо придумать новый
      </div>

      <!--Код подтверждения-->
      <div>
        <input type="password" class="email-confirm-input" placeholder="Новый пароль" formControlName="password" (error)="error_password">
        <ng-container *ngTemplateOutlet="error_password"></ng-container>
        <ng-template #error_password >
          <div class="input-invalid" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            *не менее 6 символов</div>
        </ng-template>
      </div>

      <div>
        <input type="password"  class="email-confirm-input" placeholder="Повторите пароль"
               formControlName="passwordConfirm" (error)="error_passwordConfirm" (input)="confirmPassword()">
        <ng-container *ngTemplateOutlet="error_passwordConfirm"></ng-container>
        <ng-template #error_passwordConfirm >
          <div class="input-invalid" *ngIf="!(passwordConfirm|async)&&(form.get('passwordConfirm')?.touched)">
            *пароли не совпадают</div>
        </ng-template>
      </div>

      <div>
        <a class="glo" style="margin: 0 auto" (click)="saveChanges()" [ngClass]="{disabled:(!(passwordConfirm|async))}">Сохранить</a>
      </div>
    </div>
  </ng-template>

  <!--Отправлен код на почту-->
  <ng-template #email_confirm >
    <div class="email-confirm-card" [formGroup]="form" (ngSubmit)="confirmEmail()" *ngIf="!(passwordChange|async);else password_change">
      <h1>Подтвердите почту</h1>

      <div style="margin:0 auto; font-family: Roboto-Light; font-size: large">
        На Вашу почту <span
        style="color: #25AF5C;font-family: Roboto-Bold;font-size: large">{{form.get('login')!.value}}</span> было
        отправлено письмо с кодом для подтверждения почты
      </div>

      <!--Код подтверждения-->
      <div>
        <input type="text" mask="0000" class="email-confirm-input" placeholder="Введите код подтверждения" formControlName="emailConfirmCode" (error)="error_emailConfirm">
        <ng-container *ngTemplateOutlet="error_emailConfirm"></ng-container>
        <ng-template #error_emailConfirm >
          <div class="input-invalid" *ngIf="form.get('emailConfirmCode')?.invalid && form.get('emailConfirmCode')?.touched">
            *введите код</div>
        </ng-template>
      </div>

      <div>
        <a class="glo" style="margin: 0 auto" (click)="confirmEmail()" [ngClass]="{disabled:(form.get('emailConfirmCode')?.invalid)}">Подтвердить</a>
      </div>
    </div>
  </ng-template>

</div>
