<!-- Header -->

<div class="header">
  <div class="header-card" [ngStyle]="{'justify-content':  authService.userLogin$.value?.role!=0?'right':'space-between'}">
    <div class="header-card-content dropdown" style="" *ngIf="authService.userLogin$.value?.role==0">
      <a class="icon icon-admin" title="admin">
        <img class="profile-icon-svg" data-name="profile" src="./assets/svg/admin.svg"/>
        <span class="icon-text ">Дополнительно
            <ul class="dropdown-content">
          <li [routerLink]="'/user-reports'">
            Жалобы на пользователей
          </li>
          <li [routerLink]="'/advt-reports'">
            Жалобы на объявления
          </li>
          <li [routerLink]="'/users'">
            Список пользователей
          </li>
        </ul>
        </span>
      </a>
    </div>
    <div class="header-card-content">
      <a routerLink="/users/{{user.id}}" class="icon" title="profile" *ngIf="authService.userLogin$|async as user; else no_auth">
        <img class="profile-icon-svg" src="./assets/svg/profile.svg"/>
        <span class="icon-text">{{authService.userLogin$.value?.name}}</span>
      </a>
      <a routerLink="/chat" class="icon" title="profile" *ngIf="authService.userLogin$|async as user">
        <img class="profile-icon-svg" src="./assets/svg/email-white.svg"/>
        <span class="icon-text">Чат</span>
      </a>
      <ng-template #no_auth>
        <a routerLink="/account/login" class="icon" title="profile">
          <img class="profile-icon-svg" src="./assets/svg/profile.svg"/>
          <span class="icon-text">Войти</span>
        </a>
      </ng-template>

      <a class="icon" title="location" *ngIf="authService.userLogin$|async as user">
        <img class="profile-icon-svg" src="assets/svg/logout%20—%20white.svg"/>
        <span class="icon-text" (click)="logout()">Выйти</span>
      </a>
    </div>
  </div>

</div>
