.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-content: center;
  justify-content: center;
}

.modal-window {
  min-height: 500px;
  width: 500px;
  background-color: rgba(255, 255, 255);
  padding: 30px;
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  align-content: center;
  justify-content: start;
  flex-direction: column;
}

.modal-contain {
  margin: auto;
  display: flex
}

.window-close {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn {
  height: 40px;
  width: 150px;
  background-color: #2EDA73;
  color: white;
  font-family: Roboto-Bold;
  font-size: medium;
  border: none;
  border-radius: 4px;
  margin-top: 30px;
  transition: 0.4s;
  cursor: pointer;
}

.btn:hover {
  background-color: #F2F1F1;
  color: #25AF5C;
  transition: 0.4s;
}

input {
  border-radius: 10px;
  border: 1px solid #2EDA73;
  height: 25px;
  font-size: medium;
  padding: 10px;
  outline: none;
  width: 100%;
  margin-top: 5px;
  font-family: Roboto-Bold;
}

input:focus {
  border: 1px solid #649E42;
  background-color: #F4FEEE;
}

.input-area {
  width: 480px
}

.input-title {
  margin-left: 5px;
  font-family: Roboto-Bold;
  margin-block-start: 1em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.disabled {
  pointer-events: none;
  background-position: 100% 0;
  color: #2EDA73;
  background-color: #DDDDDD;
  font-weight: bold;
}

.photo-area {
  width: 200px;
  height: 200px;
  margin:0 auto;
  text-align: center;
}
.edit-photo-area{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.photo-profile {
  object-fit: cover;
  border-radius: 100px;
  width: 100%;
  height: 100%;
  border: lightgray solid 1px;
}
.edit-photo{
  text-align: center;
  font-family: Roboto-Bold;
  margin-top: 10px;
  cursor: pointer;
}
.edit-photo:hover{
  color: #5834A2;
}

.input-file {
  margin: 10px auto;
  position: relative;
  display: inline-block;
  font-family: Roboto-Bold;
}
.input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: medium;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #2EDA73;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}
.input-file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

/* Focus */
.input-file input[type=file]:focus + span {
}

/* Hover/active */
.input-file:hover span {
  background-color: #59be6e;
}
.input-file:active span {
  background-color: #2E703A;
}

/* Disabled */
.input-file input[type=file]:disabled + span {
  background-color: #eee;
}

.error-text{
  color: red;font-family: Roboto-Light; font-size: medium;
}
