<!-- Форма добавления объявления -->

<div class="advt-add">
  <div class="content-area">
    <div class="advt-add-card" [formGroup]="form" (ngSubmit)="submit()">
      <h1>Создание объявления</h1>

      <span>Название*</span>
      <input class="advt-add-input" formControlName="name"/>
      <div class="input-invalid" *ngIf="form.get('name')?.invalid && form.get('name')?.touched">*поле заполнено
        неверно
      </div>

      <span>Категория*</span>
      <span formControlName="city" class="advt-add-input" id="category-span">
        <div class="subcategory-name">{{subCategory.name}}
          <div class="dropdown-city-icon">
            <img (click)="touchedCat()" [ngStyle]="{'transform':showCategories==true? 'rotate(180deg)':''}"
                src="assets/svg/down.svg" >
          </div>
      </div>
        <ul [ngStyle]="{'display':(showCategories)?'block':'none'}">
          <ng-container *ngFor="let cat of categories">
            <li *ngIf="cat.parentCategoryId===null">{{cat.name}}
              <ul>
              <ng-container *ngFor="let subCat of categories">
                <li *ngIf="subCat.parentCategoryId==cat.id" (click)="subCategory=subCat">{{subCat.name}}</li>
                </ng-container>
              </ul>
            </li>
         </ng-container>
        </ul>
      </span>

      <span>Цена*</span>
      <input class="advt-add-input" id="input-price" type="number" formControlName="price">
      <div class="input-invalid" *ngIf="form.get('ptice')?.invalid && form.get('price')?.touched">*поле заполнено
        неверно
      </div>

      <span>Город*</span>
      <div class="city-input">
        <input [ngModel]="location.cityName" (input)="getLocation()" class="advt-add-input location-advt"
               (focus)="onLocationFocus()"
               (blur)="onLocationBlur()" placeholder="Укажите город" formControlName="location">
        <div *ngIf="citySuggest.value.length!=0" class="input-city-ul"
             [ngStyle]="{'display':(!(isLocationFocused|async)&&!(isLocationHovered|async))?'none':'block'}"
             (mouseover)="onLocationHover()" (mouseout)="onLocationNoHover()">
          <div class="input-city-item" (click)="location=loc" *ngFor="let loc of citySuggest|async">{{loc.cityName}}</div>
        </div>
      </div>
      <div class="input-invalid" *ngIf="(location.cityName==undefined)&&(form.get('location')?.touched)">*поле заполнено
        неверно
      </div>

      <span>Описание*</span>
      <textarea class="advt-add-input" id="input-add-description" formControlName="description"></textarea>
      <div class="input-invalid" *ngIf="form.get('description')?.invalid && form.get('description')?.touched">*поле
        заполнено неверно
      </div>

      <span>Добавить фото</span>
      <form method="post" enctype="multipart/form-data" class="add-photo">
        <label class="input-file">
          <span class="input-file-text" type="text">Выберите файл</span>
          <input type="file" multiple="multiple" name="photo" accept="image/*,image/jpeg" (change)="onPhoto($event)">
          <span class="input-file-btn">
        <img *ngIf="photoUploaded==true" class="file-icon" src="../../../assets/svg/file-image.svg"/>
        <img *ngIf="photoUploaded==false" src="assets/gif/load3.gif" class="file-icon">
      </span>
        </label>
      </form>


      <ng-container *ngIf="photos.length!=0">
        <div class="uploaded-photos">
          <div class="uploaded-photo" *ngFor="let photo of photos">
            <div class="delete-uploaded-photo" (click)="deletePhoto(photos.indexOf(photo))">
              <img class="icon-delete" src="assets/svg/window-close.svg">
            </div>
            <img class="photo-advt-upload" src="{{photo}}">
          </div>
        </div>
      </ng-container>

      <a class="glo" type="submit" (click)="submit()" [ngClass]="{ disabled: clicked ==true}">Подать объявление</a>

    </div>
  </div>
</div>
<app-result-notification *ngIf="advtUploaded==true"></app-result-notification>
