<!-- HomeMain -->

<div class="home-main">
  <div class="home-main-card" style="background-image:  url(./assets/img/home-header-fill.jpg);">
    <div class="navigation-panel">
      <ng-container *ngFor="let cat of categories">
        <app-category-button *ngIf="cat.parentCategoryId==null" [category]="cat"
                             (click)="selectedCategory = cat; changeCategory(cat)"
                             [ngClass]="{ selected: selectedCategory === cat }"></app-category-button>
      </ng-container>
    </div>
    <div class="search-nav" [formGroup]="form" (ngSubmit)="navigation()">
      <div class="searchTerm" id="search-category">
        <div>{{selectedSubCategory.name}}</div>
        <ul class="subcategory-nav">
          <ng-container *ngFor="let subCat of categories">
            <li class="category-navigation" *ngIf="subCat.parentCategoryId==selectedCategory.id"
                (click)="changeCategory(subCat)">{{subCat.name}}</li>
          </ng-container>
        </ul>
      </div>

      <div class="searchTerm" id="search-city" style="padding: 0" [ngStyle]="{'background-color' : location==null?'#F4D5D5':'white'}">
        <input placeholder="Укажите город" class="input-city" formControlName="location" type="text"
               [ngModel]="location==undefined?'':location.cityName" (focus)="onLocationFocus()"
               (blur)="onLocationBlur()" (input)="getLocation()" (click)="locationReset()" [ngStyle]="{'background-color' : location==null?'#F4D5D5':'white'}">
        <div class="dropdown-city"
             [ngStyle]="{'display':(!(isLocationFocused|async)&&!(isLocationHovered|async))?'none':'block'}"
             (mouseover)="onLocationHover()" (mouseout)="onLocationNoHover()">
          <div class="city-item" (click)="location=loc" *ngFor="let loc of cityList|async">{{loc.cityName}}</div>
        </div>
      </div>

      <div class="searchTerm" style="display: flex; align-items: center;" id="search-photo">
        <input type="checkbox" style="display: flex;" value="true" placeholder="С фото" formControlName="photo">
        <span style="vertical-align: middle; white-space: nowrap;">С фото</span>
      </div>
      <input type="text" class="searchTerm" id="search-s" placeholder="Поиск" formControlName="description">
      <a (click)="navigation()" class="glo">Поиск</a>
    </div>
  </div>
</div>

<div *ngIf="(isContentLoading|async);else loading">
  <app-title [valueStr]="valueTitle.value"></app-title>
  <app-advt-card [advtList]="advtList"></app-advt-card>
  <div class="show-more" *ngIf="ss!==null">
    <div *ngIf="ss==false" class="show-more-contain" (click)="searchAdvts()">Показать еще...</div>
    <div class="show-more-contain disabled" *ngIf="ss==true">Похоже, это все, что мы нашли...</div>
  </div>
</div>
<ng-template #loading>
  <app-loading></app-loading>
</ng-template>

