h1 {
  font-family: Roboto-Light;
  font-size: xxx-large;
  margin: 0;
}

.register {
  display: flex;
  align-content: center;
  min-height: calc(100vh - 140px);
  background-image: url(/assets/img/A.jpg);
  background-size: cover;
}

.register-card {
  display: flex;
  min-height: 400px;
  width: 420px;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5% 3%;
  border-radius: 13px;
  margin: auto;
  box-shadow: 0em 0.1em 5px rgba(122, 122, 122, 0.5);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}

.register-input {
  border-radius: 5px;
  height: 35px;
  width: calc(100% - 20px);
  border: 1px solid #2EDA73;
  font-size: large;
  padding: 0 10px;
  outline: none;
}

.birthday-input{
  font-family: Roboto-Light;
  color: #4C4C4C;
}

.sing-in-input:hover {
  background-color: #EAF8E1;
}

.sing-in-password-recovery {
  font-family: Roboto-Light;
  color: #25AF5C;
  text-decoration: none;
  vertical-align: center;
  text-align: right;
  font-size: medium;
}

.sing-in-password-recovery a {
  text-decoration: #2EDA73;
}

.sing-in-password-recovery:hover {
  font-weight: bold;
}

a.glo {
  color: #fff;
  padding: 8px 20px;
  text-decoration: none;
  text-align: center;
  display: block;
  background-image: linear-gradient(to left, transparent, transparent 50%, #2EDA73 50%, #2EDA73);
  background-position: 0 0;
  background-size: 200% 100%;
  transition: all .25s ease-in;
  border-radius: 5px;
  font-family: "Roboto-Light";
  width: 40%;
  border: 1px solid #2EDA73;
  height: 20px;
  white-space: nowrap;
  font-size: large;
  cursor: pointer;
}

a.glo:hover {
  background-position: 100% 0;
  color: #2EDA73;
  font-weight: bold;
}

a {
  cursor: pointer
}

.disabled {
  pointer-events: none;
  background-position: 100% 0;
  color: #2EDA73;
  font-weight: bold;
}

.input-invalid {
  font-family: Roboto-Light;
  color: red
}
