<!--Компонент регистрации пользователя-->

<div class="register">
  <div class="register-card" *ngIf="isCreateAccount|async;else create_user" [formGroup]="form"  (ngSubmit)="createUser()">
    <h1>Регистрация</h1>

    <ng-container *ngIf="(errorText|async)!==null">
      <div class="input-invalid"  autocomplete="disabled">{{errorText|async}}</div>
    </ng-container>

    <!--Логин-->
    <div >
      <input class="register-input" placeholder="Логин*" formControlName="login" (error)="error_login" >
      <ng-container *ngTemplateOutlet="error_login"></ng-container>
      <ng-template #error_login let-control>
        <div class="input-invalid"  autocomplete="disabled" *ngIf="form.get('login')?.invalid && form.get('login')?.touched">
          *не соответсвует электронному адресу</div>
      </ng-template>
    </div>

    <!--Пароль-->
    <div>
      <input type="password" class="register-input" placeholder="Пароль*" formControlName="password" (error)="error_password" >
      <ng-container *ngTemplateOutlet="error_password"></ng-container>
      <ng-template #error_password let-control>
        <div class="input-invalid"  autocomplete="off" *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
          *не менее 6 символов</div>
      </ng-template>
    </div>

    <!--Повторите пароль-->
    <div>
      <input type="password" class="register-input" placeholder="Повторите пароль*" formControlName="passwordConfirm" (input)="confirmPassword()">
      <ng-container *ngTemplateOutlet="error_passwordConfirm"></ng-container>
      <ng-template #error_passwordConfirm let-control>
        <div class="input-invalid" *ngIf="((form.get('passwordConfirm')?.invalid ||!(passwordConfirm|async))&& form.get('passwordConfirm')?.touched)">
          *пароли не совпадают</div>
      </ng-template>
    </div>

  <form style="width: 100%" [formGroup]="recaptchaForm">
    <ngx-recaptcha2 #captcha2Elem [siteKey]="siteKey" formControlName="recaptcha">
    </ngx-recaptcha2>
  </form>


    <div style="width: 100%; display: flex; align-content: center; justify-content: start ">
      <a class="glo" (click)="createUser()" [ngClass]="{disabled:((form.get('password')?.invalid) || (form.get('passwordConfirm')?.invalid)||(form.get('login')?.invalid))}">Далее</a>
      <div style="margin: auto ;">
        <a [routerLink]="'/account/login'" class="sing-in-password-recovery">Уже есть аккаунт</a>
      </div>
    </div>
  </div>



  <ng-template #create_user>
    <ng-container *ngIf="!(isEmailConfirm|async);else email_confirm">
    <div class="register-card" [formGroup]="form" (ngSubmit)="submit()">
      <h1>Регистрация</h1>

      <ng-container *ngIf="(errorText|async)!==null">
        <div class="input-invalid"  autocomplete="disabled">{{errorText|async}}</div>
      </ng-container>

      <!--Имя-->
      <div>
        <input type="text" class="register-input" placeholder="Имя*" formControlName="name" (error)="error_name" >
        <ng-container *ngTemplateOutlet="error_name"></ng-container>
        <ng-template #error_name let-control>
          <div class="input-invalid"*ngIf="form.get('name')?.invalid && form.get('name')?.touched">
            *поле заполнено неверно</div>
        </ng-template>
      </div>

      <!--Фамилия-->
      <div>
        <input type="text" class="register-input" placeholder="Фамилия*" formControlName="lastName" (error)="error_lastName" >
        <ng-container *ngTemplateOutlet="error_lastName"></ng-container>
        <ng-template #error_lastName let-control>
          <div class="input-invalid" *ngIf="form.get('lastName')?.invalid && form.get('lastName')?.touched">
            *поле заполнено неверно</div>
        </ng-template>
      </div>

      <!--Дата рождения-->
      <div>
        <input type="date" [max]="today" class="register-input birthday-input" formControlName="birthday" (error)="error_birthday" >
        <ng-container *ngTemplateOutlet="error_birthday"></ng-container>
        <ng-template #error_birthday let-control>
          <div class="input-invalid" *ngIf="form.get('birthday')?.invalid && form.get('birthday')?.touched">
            *поле заполнено неверно</div>
        </ng-template>
      </div>

      <!--Номер телефона-->
      <div>
        <input type="text" mask="+0(000)000-00-00" class="register-input" placeholder="+7(XXX)XXX-XX-XX" formControlName="phone" (error)="error_phone" >
        <ng-container *ngTemplateOutlet="error_phone"></ng-container>
        <ng-template #error_phone let-control>
          <div class="input-invalid" *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched">
            *поле заполнено неверно</div>
        </ng-template>


      </div>

      <div style="width: 100%; display: flex; align-content: center; justify-content: start ">
        <a class="glo" (click)="submit()">Зарегистрироваться</a>
        <div style="margin: auto ;">
          <a (click)="createUser()" class="sing-in-password-recovery">Назад</a>
        </div>
      </div>
    </div>
    </ng-container>
  </ng-template>

  <ng-template #email_confirm>
    <div class="register-card" [formGroup]="form" (ngSubmit)="submit()">
      <h1 style="font-size: 45px">Подтвердите почту</h1>

      <div style="margin:0 auto; font-family: Roboto-Light; font-size: large">
        На Вашу почту <span style="color: #25AF5C;font-family: Roboto-Bold;font-size: large">{{form.get('login')!.value}}</span> было отправлено письмо с кодом для подтверждения почты
      </div>

      <!--Код подтверждения-->
      <div>
        <input type="text" mask="0000" class="register-input" placeholder="Введите код подтверждения" formControlName="userCode">
      </div>

      <div>
        <a class="glo" style="margin: 0 auto" (click)="confirmEmail()">Подтвердить</a>
      </div>

    </div>
  </ng-template>
</div>
